<h1>会員ページ</h1>

<%= image_tag @user.get_profile_image(100, 100) %> </br>
<h3><%= @user.name %></h3>

<% unless @user.guest_user? %>
<div class="row">
  <a href="/users/<%= @user.id %>/edit", class="btn btn-outline-secondary"></ahref>
    <i class="fa-solid fa-user-gear"></i>
  </a>
</div>
<% end %>


<h2>投稿一覧</h2>
<% @posts.each do |post| %>
  <p>投稿画像</p>
  <%= image_tag post.get_image(80, 80) %>
  <p>説明: <%= post.body %></p>
  <p>住所: <%= post.address %></p>
  <%= link_to '編集', edit_post_path(post.id)%>
<% end %>


