<div class="container">
  <div class="row">
    <div class="info col-md-6">
     <div class="info text-center">
      <h1>会員ページ</h1>
      <h3><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(300, 300) %>
      <h2>フォロー: <%= link_to @user.followings.count, user_followings_path(@user) %></h2>
      <h2>フォロワー: <%= link_to @user.followers.count, user_followers_path(@user) %></h2>
      <% unless @user.guest_user? %>
        <a href="/users/<%= @user.id %>/edit", class="btn btn-outline-secondary"></ahref>
          <i class="fa-solid fa-user-gear"></i>
        </a>
      <% end %>
      <%= render "public/relationships/btn", user: @user %>
      <%= link_to "お気に入り一覧", post_favorites_path(@user) %>
     </div>
    </div>
    
    <div class="index col-md-6">
      <%= render "public/posts/index", posts: @posts%>
    </div>
  </div>
</div>
