<!DOCTYPE html>
<html>
  <head>
    <title>Flower</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/592d53839f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>
  
  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ホーム', root_path, class: 'nav-link text-dark'%>
              </li>
        
              <li class="nav-item">
                <%= link_to '投稿ページ', new_post_path, class: 'nav-link text-dark' %>
              </li>
        
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-dark' %>
              </li>
        
              <li class="nav-item">
                <%= link_to 'ユーザー一覧', users_path, class: 'nav-link text-dark' %>
              </li>
        
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: 'nav-link text-dark' %>
              </li>
        
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
              </li>
        
            <% else %>
            <nav class="navbar navbar-expand-lg navbar-light">
              <li class="nav-item">
                <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
              </li>
        
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
              </li>
        
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
              </li>
        
            <% end %>
            </nav>
          </ul>
        </div>
      </nav>
    </header>
  </body>
  <div class="d-flex justify-content-center mt-3">
    <%= render "public/searches/form" %>
  </div>
　  <%= yield %>
　
</html>
